@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #232323;
}

.heading{
    text-align: center;
    justify-content: center;
    font-family: 'New Tegomin', serif;
    font-size: 3rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  td, th {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 12px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */


  .footer {
    height: 80px;
    margin-top: -30px;
    color: white;
    text-align: center;
    background-color: #bd1c1c;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.25rem;
  }

.footer_social{
    margin-top: 10px;
    justify-content: space-between;
    padding-left: 10px;
}

.footer_text{
    font-family: 'Syne Mono', monospace;
}

