@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    box-sizing: border-box;
    /* background-color: #cbced1; */
}

body{
    padding: 0;
    margin: 0;
}

.pageHeading{
    /* margin-top: 1px; */
    justify-content: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
    /* color: rgb(199, 183, 183); */
    border: 2px solid #0f0;
    border-radius: 5rem 10rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pageIntro{
    justify-content: center;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.75em;
}

.pageIntroThankyou{
    justify-content: center;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.75em;
}

.secretMessage{
    color: #0f0;
    text-align: center;
    font-size: 1.15em;
    font-family: 'Inconsolata', monospace;
}

h2.heading{
    font-size: 3.25em;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin-bottom: 20px;
}

.card-title{
    color: black;
}

.card-text{
    color: black;
}

.card-body{
    margin-top: 35px;
}

.card-img{
    position: relative;
}

.footer {
    height: 80px;
    margin-top: -50px;
    color: white;
    text-align: center;
    background-color: #bd1c1c;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.25rem;
  }

.footer_social{
    margin-top: -15px;
    justify-content: space-between;
    padding-left: 10px;
}

.footer_text{
    font-family: 'Syne Mono', monospace;
}
  